services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: herwa-app-dev
    restart: unless-stopped
    env_file: .env
    environment:
      NODE_ENV: development
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    container_name: herwa-db-dev
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - herwa-data-dev:/var/lib/postgresql/data
    ports:
      - "${DB_PORT}:5432"

volumes:
  herwa-data-dev: