services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: herwa-app-prod
    restart: unless-stopped
    env_file: .env
    environment:
      NODE_ENV: production
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    container_name: herwa-db-prod
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - herwa-data-prod:/var/lib/postgresql/data

volumes:
  herwa-data-prod: